.videolist{
    display:flex;
    height:70px;
    padding-bottom:24px;
    &__container{
        display:flex;
        flex-direction:column;
    }
    &__img{
        width:120px;
    }
    &__title{
        
    }
    &__author{

    }
}